@using CardGameMaker.Backend.Models
@model IEnumerable<Game>

<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var game in Model) {
        <tr>
            <td>
                @game.Name
            </td>
        </tr>
    }
    </tbody>
</table>