@page
@model CardGameMaker.CardEditor.Areas.Games.Pages.Index

<!DOCTYPE html>

<html>
<head>
    <title>Games</title>
</head>
<body>

<h1>Games</h1>
<div>
    @Html.Partial("_GameList.cshtml", Model.Games)
</div>


</body>
</html>
